@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
}

h1, h2, h3, p, label, input[placeholder], a, button {	
	font-family: 'Lato', sans-serif;
}

input[placeholder] {
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
	color: #ff940E; 
	font-size: 40px;
}

h2 {
	color: #ff940E; 
	font-size: 25px;
}

p {
	font-size: 18px;
}

button {
	background-color: #ffc36b; 
	border: 1px solid #ff940E;	
}
