<!DOCTYPE html>
<html>
<head>
  <title>Otroska nogometna sola</title>
  <meta charset="utf-8"/>
  <link href="favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/slider.css">
  <link rel="stylesheet" type="text/css" href="../css/navbar.css">
</head>
  <body>
    <div class = "bar">
      <div class = "logo"><a href="index.html"><img alt="logo" src="../img/logo_ons.png"></a></div>
      <nav>
        <img alt="hambi" src="../img/meni.png">
        <ul>
	          <li><a href="../../../obvestila/templates/obvestila/obvestila.html">OBVESTILA</a></li>
	          <li><a href="../../../obvestila/templates/obvestila/urniki.html">URNIKI</a></li>
	          <li><a href="../../../obvestila/templates/obvestila/galerija.html">GALERIJA</a></li>
	          <li><a href="../../../obvestila/templates/obvestila/prijava.html">PRIJAVA</a></li>
        </ul>
      </nav>
    </div> 
    <div class = "slider">
	    <figure>
	    	<img alt="zoga1" src="../img/zoga1.jpg">
	    	<img alt="zoga2" src="../img/avtobus1.jpg">
	    	<img alt="zoga3" src="../img/avtobus2.jpg">
	   	</figure>
    </div>
    <footer style="text-align: center;">
      <div>
        <p style="float: left; padding-left: 10%;">Ustvaril: Martin Kozmelj</p>
        <p style="float: right; padding-right: 10%;">Kontakt: <a href="kozmelj-martin@gmail.com">kozmelj-martin@gmail.com</a>.</p>
      </div>
    </footer>
  </body>
</html>