@keyframes slider {
	0% {
		left: 0;
	}

	30% {
		left: 0;
	}

	35% {
		left: -100%;
	}

	65% {
		left: -100%;
	}

	70% {
		left: -200%;
	}

	95% {
		left: -200%;
	}
	100% {
		left: 0;
	}
}

.slider {
	overflow: hidden;
}

.slider figure img {
	width: 20%;
	float: left;
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slider infinite;
}

@media only screen and (max-width: 1000px) {
	nav {
		position: absolute;
		z-index: 1;
		float: right;
		left: 70%;
		top: -1px;
	}

	nav img .hamburger{
		padding-left: 10px;
	}
}


