<!DOCTYPE html>
<html>
<head>
  <title>Otroska nogometna sola</title>
  <meta charset="utf-8"/>
  {% load static %}
  <link href="{% static 'obvestila/img/ikona.ico'%}" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'obvestila/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{%  static 'obvestila/css/navbar.css' %}">
  <script type="text/javascript" src="{% static 'obvestila/scripts/script.js' %}"></script>
</head>
  <body>
    <div class = "bar">
      {% if logged %}
            <div class = "logo"><a href="/trener"><img alt="logo" src="/static/obvestila/img/logo_ons.png"></a></div>
        {% else %}
            <div class = "logo"><a href="index"><img alt="logo" src="/static/obvestila/img/logo_ons.png"></a></div>
        {% endif %}
      <nav>
        <img alt="hambi" id="hamburger" src="/static/obvestila/img/meni.png">
        <ul>
          <li><a href="/obvestila">OBVESTILA</a></li>
          <li><a href="/urniki">URNIKI</a></li>
          <li><a href="/galerija">GALERIJA</a></li>
          {% if logged %}
            <li><a href="/galerija/logout">ODJAVA</a></li>
          {% else %}
            <li><a href="/prijava">PRIJAVA</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <br>
    {%  block main %}
    {%  endblock %}
    <footer style="text-align:center;">
      <div class = "noga">
        <p style="float: left; padding-left: 10%;">Ustvaril: Martin Kozmelj</p>
        <p style="float: right; padding-right: 10%;">Kontakt: <a href="mailto: kozmelj-martin@gmail.com">kozmelj-martin@gmail.com</a>.</p>
      </div>
    </footer>
  </body>
</html>