{%  extends 'obvestila/base.html' %}
{%  block main %}
    <link rel="stylesheet" type="text/css" href="http://kozmelj.si/css/galerija.css">
    <h1>Galerija</h1>
    <div class = "slike">
      <table>
        <tr>
          <th>
            <a href="https://goo.gl/photos/te6R2bnTtvMoVatf8">
              <img class = "sl" alt="avto1" src="http://kozmelj.si/img/avtobus2016.png">
              <p class="naslov">Nogometni avtobus 2016</p>
            </a>
          </th>
          <th>
            <a href="https://goo.gl/photos/q1DkkkdewxRLWEHc8">
              <img class = "sl" alt="avto2" src="http://kozmelj.si/img/avtobus2015.png">
              <p class="naslov">Nogometni avtobus 2015</p>
            </a>
          </th>
          <th>
            <a href="https://goo.gl/photos/uzgnG7FgVdvqmY8L9">
              <img class = "sl" alt="avto3" src="http://kozmelj.si/img/avtobus2014.png">
              <p class="naslov">Nogometni avtobus 2014</p>
            </a>
          </th>
        </tr>
      </table>      
    </div>
    <br>
    <br>
    <div class = "video">
      <iframe height = "290" style = "float: left; margin-left: 5%; width: 32%;" src="https://www.youtube.com/embed/PMMbXyOOrM8"  allowfullscreen></iframe>
      <iframe height = "290" style = "float: right; margin-right: 5%; width: 32%; margin-bottom: 50px" src="https://www.youtube.com/embed/i8oSWL1udYY" allowfullscreen></iframe>
    </div>
{% endblock %}