{%  extends 'obvestila/base.html' %}
{%  block main %}
    <link rel="stylesheet" type="text/css" href="http://kozmelj.si/css/obvestila.css">
    <div class="glavno">
      <div class = "levo">
        <h1>Obvestila</h1>
        {% if vsa_obvestila %}
            {% for obvestilo in vsa_obvestila %}
              <div class = "obvestilo" >
                  {% if logged %}
                    <a href="/obvestila/uredi/{{ obvestilo.id }}">
                      <img src="/static/obvestila/img/edit.png" alt="edit" style="float: right; margin-bottom: 20px"><br>
                    </a>
                  {% endif %}
                  <p>{{ obvestilo.besedilo }}</p>

                  <p style="float: right;" class = "dopis">{{ obvestilo.avtor }}</p>
                  <p style="float: left;" class = "dopis">{{ obvestilo.datum }}</p>
              </div>
            {% endfor %}
        {% else %}
            <div class = "obvestilo">
              <p>Ni obvestil</p>
            </div>
        {% endif %}
        </div>
      </div>
 {% endblock %}