{%  extends 'obvestila/base.html' %}
{%  block main %}
    <link rel="stylesheet" type="text/css" href="http://kozmelj.si/css/prijava.css">
    <div class = "d1">
      <div class = "prijava" style="padding: 10px">
        <form method="post" action="../../../prijava/1">
            <br>
            <h2>Prijava</h2>
            <br>
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label_tag }}</label>
                <br>
                <label> {{ field }}</label>
                <br>
                <br>
            {% endfor %}
            <label style="color:red">{{ er }}</label>
            <br>
            <br>
            <button type="submit">Prijava</button>
        </form>
      </div>
      <div class = "registracija">
        <form method="post" action="../../../prijava/registracija">
          <br>
          <h2>Registracija</h2>
          <br>
            {% csrf_token %}
            {% for field in formular %}
                <label>{{ field.label_tag }}</label>
                <br>
                <label> {{ field }}</label>
                <br>
                <br>
            {% endfor %}
          <button type="submit">Registracija</button>
          <br>
            <br>
            <p>{{ err }}</p>
            <p style="color: red">{{ errr }}</p>
          <br>
        </form>
      </div>
    </div>
    <div class = "d2">
      <div class = "prijava">
        <form method="post" action="../../../prijava/1">
            <br>
            <h2>Prijava</h2>
            <br>
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label_tag }}</label>
                <br>
                <label> {{ field }}</label>
                <br>
                <br>
            {% endfor %}
            <label style="color:red">{{ er }}</label>
            <br>
            <br>
            <button type="submit">Prijava</button>
        </form>
      </div>
      <br>
      <div class = "registracija">
       <form method="post" action="../../../prijava/registracija">
          <br>
          <h2>Registracija</h2>
          <br>
            {% csrf_token %}
            {% for field in formular %}
                <label>{{ field.label_tag }}</label>
                <br>
                <label> {{ field }}</label>
                <br>
                <br>
            {% endfor %}
          <button type="submit">Registracija</button>
          <br>
            <br>
            <p>{{ err }}</p>
            <p style="color: red">{{ errr }}</p>
          <br>
        </form>
      </div>
    </div>
{%  endblock %}