{%  extends 'obvestila/base.html' %}
{%  block main %}
    <link rel="stylesheet" type="text/css" href="http://kozmelj.si/css/urniki.css">
    <h1 class = "n1">Urniki</h1>
    <div class="urnik">
      <table>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Šempeter</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Prebold</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Braslovče</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Vransko</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Trnava</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Tabor</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
        </table>
    </div>
    <div class = "urnik1">
      <table>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Šempeter</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Prebold</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Braslovče</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Vransko</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Tabor</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Trnava</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
        </table>
    </div>
{% endblock %}