  <!DOCTYPE html>
<html>
<head>
  <title>Otroska nogometna sola</title>
  <meta charset="utf-8"/>
  <link href="favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/urniki.css">
  <link rel="stylesheet" type="text/css" href="../css/navbar.css">
</head>
  <body>
    <div class = "bar">
      <div class = "logo"><a href="../../../home/templates/home/index.html"><img alt="loho" src="../img/logo_ons.png"></a></div>
      <nav>
        <img alt="hambi" src="../img/meni.png">
        <ul>
          <li><a href="obvestila.html">OBVESTILA</a></li>
          <li><a href="urniki.html">URNIKI</a></li>
          <li><a href="galerija.html">GALERIJA</a></li>
          <li><a href="prijava.html">PRIJAVA</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <h1 class = "n1">Urniki</h1>
    <div class="urnik">
      <table>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Šempeter</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Prebold</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Braslovče</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Vransko</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Trnava</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
            <th class = "okvir">
              <br>
              <p class="naslov">Tabor</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr> 
        </table>
    </div>
    <div class = "urnik1">
      <table>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Šempeter</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Prebold</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Braslovče</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Vransko</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Tabor</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <th class = "okvir">
              <br>
              <p class="naslov">Trnava</p>
              <table>
                <tr>
                  <th>
                    <p>1. in 2. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                  <th>
                    <p>3. in 4. razred</p>
                    <p>Ponedeljek - 12.00 do 13.30</p>
                  </th>
                </tr>
              </table>
            </th>
          </tr> 
        </table>
    </div>
    <footer style="text-align: center;">
      <div>
        <p style="float: left; padding-left: 10%;">Ustvaril: Martin Kozmelj</p>
      <p style="float: right; padding-right: 10%;">Kontakt: <a href="kozmelj-martin@gmail.com">kozmelj-martin@gmail.com</a>.</p>
      </div>
    </footer>
  </body>
</html>